<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>add</title>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h2><input type="file" name="img">
        <input type="text" placeholder="Movie Name" name="name"><br>
        <input type="text" placeholder="Year" name="year"><br>
        <input type="text" placeholder="Description" name="desc"><br>
        <input type="submit" value="add"></h2>

    </form>
</head>
<body>

</body>
</html>